name: Continuous Integration

on:
  - push

env:
  DB_NAME: test
  DB_USER: root
  DB_PASSWORD: ""

jobs:
  run_code_checks:
    runs-on: ubuntu-latest
    steps:
      - name: Set up MySQL
        run: |
          sudo /etc/init.d/mysql start

          sudo mysql -u root -proot -e "ALTER USER 'root'@'localhost' IDENTIFIED BY '${{ env.DB_PASSWORD }}';"

          sudo mysql -u root -p${{ env.DB_PASSWORD }} -e "CREATE DATABASE \`${{ env.DB_NAME }}\`;"

      - name: Checkout Repo Code
        uses: actions/checkout@v4

      - name: Set Up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Run Linting
        run: |
          go fmt ./...
          go vet ./...

      - name: Run Tests
        run: go test ./...
        env:
          DB_NAME: ${{ env.DB_NAME }}
          DB_USER: ${{ env.DB_USER }}
          DB_PASSWORD: ${{ env.DB_PASSWORD }}
